# Django web framework
Django>=4.2

#PostgreSQL database driver
psycopg2-binary

# User auth (Django built-in used for now, AllAuth for future)
# django-allauth

# Data handling
pandas
numpy

# Financial data
yfinance

# Web scraping for ticker data
requests
beautifulsoup4

# Environment variable management (for settings.py secrets)
python-decouple

# Dev Tools
django-debug-toolbar
black