.hero-image {
    background: url('/static/images/market-bg.jpg') center center / cover no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
}

h1.display-5 {
    color: #2f363d;
}

p.lead {
    color: #586069;
}